.languageList {
  height: 0;
  overflow: hidden;
  width: fit-content;
  border-radius: 8px;
  background-color: lightblue;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: transparent;
  padding-block: 2px;
  opacity: 0; 
  transition: 0.8s;
  margin-top: 3px;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  position: absolute;
  top: auto;
  visibility: hidden;
}

.active {
  height: auto;
  overflow: auto;
  max-height: 500px;
  visibility: visible;
  opacity: 1;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
