.container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(0,1fr));
    /* gap: 24px; */
    width: 80%;
    border: solid var(--color-amber-500) 1px;
    background: white;
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}